/* body {
  justify-content: center;
}
#logo {
  height: 150px;
  width: 200px;
  background-color: antiquewhite;
  color: black;

  text-align: center;

  margin: 0px;
}

#logoDiv {
  display: flex;
  justify-content: space-between;
  flex-direction: center;
  background-color: antiquewhite;
}
#root {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: auto;
}

#root1 {
  text-align: center;
  width: 50%;
  flex: 1;
  color: antiquewhite;
  background-color: black;
  position: sticky;
  top: 0px;
}

#root2 {
  text-align: center;
  flex: 1;
  background-color: antiquewhite;
  color: black;
} */

body {
  padding: 0;
  background-color: black;
}
#main {
  background-color: antiquewhite;
}
#logo {
  text-align: center;
  background-color: antiquewhite;
}

#root1 {
  background-color: black;
  text-align: center;
  color: antiquewhite;
}

.list-group-item {
  background-color: rgb(159, 159, 159);
  color: black;
}
#basic-url {
  color: blue;
}

.input-group {
  width: 50%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-span-input {
  display: flex;
  justify-content: center;
}

#root {
  display: flex;
  flex-direction: column-reverse;
}

#root2 {
  text-align: center;
  height: 23vw;
}
